@font-face {
  font-family: "calculus";
  src: url("./font/Calculus Regular.ttf") format("truetype");
}

@font-face {
  font-family: "calculator";
  src: url("./font/Calculator.ttf") format("truetype");
}

@font-face {
  font-family: "calculator2";
  src: url("./font/OPTICalculator.otf") format("truetype");
}

#app-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#display-container {
  background: rgba(41, 41, 41, 0.877);
  margin: 5px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#display {
  background: rgba(8, 255, 99, 0.449);
  margin: 5px;
  height: 32px;
  width: 281px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: inset rgba(88, 88, 88, 0.49) 0px 5px 5px 1px;
  color: rgba(29, 65, 11, 0.768);
  font-family: calculator2;
  font-size: 15px;
  font-weight: bolder;
}

#pad-container {
  border: solid 1px black;
  height: 300px;
  width: 300px;
  text-align: center;
  box-shadow: inset rgba(128, 128, 128, 0.435) 0px 1px 10px 2px;
  border-color: rgba(128, 128, 128, 0.415);
  background: rgb(41, 41, 41);
  padding: 5px;
  border-radius: 5%;
}

.drum-pad {
  height: 75px;
  width: 75px;
  border: solid black;
  margin: 10px;
  padding: 0px;
  border-radius: 5px;
  border-color: rgba(128, 128, 128, 0.415);
  border-width: 1px;
  background: transparent;
  box-shadow: inset rgba(128, 128, 128, 0.435) 0px 1px 20px 5px;
  color: rgb(177, 177, 177);
}
